:root {
  --hue: 319;
  --color-primary-1: oklch(90% 0.077 var(--hue));
  --color-primary-2: oklch(80% 0.161 var(--hue));
  --color-primary-8: oklch(20% 0.096 var(--hue));
  --color-primary-9: oklch(10% 0.048 var(--hue));

  --color-background: var(--color-primary-2);
  --color-background-text: var(--color-primary-9);
}

@media (color-gamut: p3) {
  :root {
    --color-primary-1: oklch(90% 0.085 var(--hue));
    --color-primary-2: oklch(80% 0.177 var(--hue));
    --color-primary-8: oklch(20% 0.103 var(--hue));
    --color-primary-9: oklch(10% 0.052 var(--hue));
  }
}

@media (color-gamut: rec2020) {
  :root {
    --color-primary-1: oklch(90% 0.087 var(--hue));
    --color-primary-2: oklch(80% 0.181 var(--hue));
    --color-primary-8: oklch(20% 0.117 var(--hue));
    --color-primary-9: oklch(10% 0.058 var(--hue));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-primary-8);
    --color-background-text: var(--color-primary-1);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-background-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column nowrap;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
